
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<mat-divider class="tool"></mat-divider>

<div class="div">
<!-- <div class="divL">
  <button class="button"  mat-icon-button (click)="rutasMenos()" >
    <mat-icon class="l" >arrow_back_ios</mat-icon>
   </button>
   <label class="label">Anterior</label>

 </div> -->

 <div class="divR">
  <label class="Anterior" >Siguiente</label>
          <button class="buttonRight" mat-icon-button (click)="rutasMas()">
            <mat-icon class="l2" >arrow_forward_ios</mat-icon>
           </button>
 </div>
</div>
