
<label class="Title" > Selecciona el servicio que deseas evaluar</label>
<label class="Title2" > Solo puedes seleccionar uno</label>

 <owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <mat-card>
      <mat-card-content class="content">
        <img class="icon" src="assets/images/mastografia.png" />
        <mat-card-content>
          <label>Mastografía</label>
        </mat-card-content>
      </mat-card-content>

      <mat-card-footer>
        <button mat-raised-button (click)="openSheet(1)">Evaluar</button>
      </mat-card-footer>
    </mat-card>
  </ng-template>


  <ng-template carouselSlide>
    <mat-card>
      <mat-card-content class="content">
        <img class="icon" src="assets/images/Laboratorio.png" />
        <mat-card-content>
          <label>Laboratorio</label>
        </mat-card-content>
      </mat-card-content>

      <mat-card-footer>
        <button mat-raised-button (click)="openSheet(2)">Evaluar</button>
      </mat-card-footer>
    </mat-card>


  </ng-template>
  <ng-template carouselSlide>
    <mat-card>
      <mat-card-content class="content1">
        <img class="icon" src="assets/images/ultrasonido.png" />
        <mat-card-content>
          <label>Ultrasonido</label>
        </mat-card-content>
      </mat-card-content>

      <mat-card-footer>
        <button mat-raised-button (click)="openSheet(3)">Evaluar</button>
      </mat-card-footer>
    </mat-card>
  </ng-template>

  <ng-template carouselSlide>
    <mat-card>
      <mat-card-content class="content2">
        <img class="icon2" src="assets/images/lentes.png" />
        <mat-card-content>
          <label>Lentes</label>
        </mat-card-content>
      </mat-card-content>

      <mat-card-footer>
        <button mat-raised-button (click)="openSheet(4)">Evaluar</button>
      </mat-card-footer>
    </mat-card>
  </ng-template>

  <ng-template carouselSlide>
    <mat-card>
      <mat-card-content class="content3">
        <img class="icon3" src="assets/images/electro.png" />
        <mat-card-content>
          <label>Electrocardiograma</label>
        </mat-card-content>
      </mat-card-content>

      <mat-card-footer>
        <button mat-raised-button (click)="openSheet(5)">Evaluar</button>
      </mat-card-footer>
    </mat-card>
  </ng-template>

  <ng-template carouselSlide>
    <mat-card>
      <mat-card-content class="content4">
        <img class="icon4" src="assets/images/tomografia.png" />
        <mat-card-content>
          <label>Tomografía</label>
        </mat-card-content>
      </mat-card-content>

      <mat-card-footer>
        <button mat-raised-button (click)="openSheet(6)">Evaluar</button>
      </mat-card-footer>
    </mat-card>
  </ng-template>
</owl-carousel-o>

