<mat-accordion multi="true" *ngIf="datos.length > 0" >
  <mat-expansion-panel *ngFor="let dato of datos">
    <mat-expansion-panel-header>
      Cliente: {{dato.nombre}}
    </mat-expansion-panel-header>
    <p>Estado: {{dato.estado}}</p>
    <p>Municipio: {{dato.ciudad}}</p>
    <p>Sucursal: {{dato.sucursal}}</p>
    <p>Servicio: {{dato.servicio}}</p>
    <p>Cal. Servicio: {{dato.calificacionServicio}}</p>
    <!-- <p>Recomendacion: {{dato.recomendacion}}</p> -->
    <mat-action-row>

      <button  mat-button color="primary" (click)="EnviarID(dato.id)"> EDITAR</button>
      <!-- <button  mat-button color="warn" (click)="onDeletePost(post.id)"> Eliminar</button> -->
    <button  mat-button color="warn" (click)="onDelete(dato.id)"> ELIMINAR</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<button  mat-button color="warn" (click)="NuevaEncuesta()"> Nueva Encuesta</button>
<p class="info-text mat-body-1" *ngIf="datos.length <= 0"> No hay clientes agregados</p>
