<label>Elige una opcion:</label>

<mat-nav-list>

  <a mat-list-item (click)="openLink($event,'Muy bien')">
    <span mat-line>Muy bien</span>
  </a>

  <a mat-list-item (click)="openLink($event,'Bien')">
    <span mat-line>Bien</span>
  </a>

  <a mat-list-item (click)="openLink($event,'Regular')">
    <span mat-line>Regular</span>
  </a>

  <a mat-list-item (click)="openLink($event,'Mal')">
    <span mat-line>Mal</span>
  </a>

  <a mat-list-item (click)="openLink($event, 'Muy Mal')">
    <span mat-line>Muy Mal</span>
  </a>
</mat-nav-list>
