img{
  transition: all 0.5s ease;
  /* border: 1px solid #000;*/
  width: 350px;
  display: block;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 40px;
}

img:hover{
  transform: scale(0.9);
}

/* .main img {
  width: 50%;
  height: 200px;
  overflow: hidden;
  position: relative;
}
 */

.main{
  /* width: 50%; */
}
